<!DOCTYPE htm>
<html lang="en" ng-app="myapp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>जाग्रुक भारत|JagrukBharat</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/myapp/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/myapp/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>

</head>
<body>
<header>
	 <nav>
    <div class="nav-wrapper green ">
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">home</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div>
  </nav>
</header>
<main class="grey lighten-3">
<div class="col s12 m12 l12">
<div class="row">&nbsp; &nbsp;</div>



<div class="row">&nbsp; &nbsp;</div>
<div class="row">&nbsp; &nbsp;</div>
           <div class=" row col s12 m12 l12">
           <div class=" white col s6 m6 l6 offset-s3 offset-m3 offset-l3 z-depth-2">
           <div class="row center"><h3>Enter Data</h3></div>
           <form>
           <div>&nbsp;</div>
        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Title</label>
          </div>
        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">lock</i>
          <input id="Password" type="password" class="validate">
          <label for="Password">Area</label>
        </div>
         <div class="input-field col s8 offset-s2">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="Subsidy">subsidy</option>
      <option value="schemes">schemes</option>
      <option value="rights">rights</option>
    </select>
    <label>Type of Data</label>
  </div>
   <div class="input-field col s8 offset-s2">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="Rural">Rural</option>
      <option value="Urban">Urban</option>
      <option value="Both">Both</option>
    </select>
    <label>Area affected</label>
  </div>
    <div class="input-field col s8 offset-s2">
            <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Description</label>
          </div>
  <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">State</label>
          </div>

   <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">District</label>
          </div>
          <div class="input-field col s8 offset-s2">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="farmers">Farmers</option>
      <option value="all">all</option>
    </select>
    <label>TYpe of people affected</label>
  </div>
         <div>&nbsp;</div>
          <div>&nbsp;</div>

    <div class="center">
      <div>&nbsp;</div>
          <div>&nbsp;</div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        
  <button class="btn waves-effect waves-light" type="cancel" name="action">Cancel
    
  </button>
        </div>
         <div>&nbsp;</div>
          <div>&nbsp;</div> 
    </form>

    </div>
    </div>
    </div>

</main><footer class="page-footer center green">
    
      <div class="footer-copyright">
      <div class="container center">Copyright © DigitEyes91 AdVentures Private Ltd., 2016. All Rights Reserved
      </div>
      </div>
      </footer>   
</body>
</html>


    description = models.CharField(max_length=200)
    
    state = models.CharField(max_length=100)
    district = models.CharField(max_length=100)
    for_whom = models.CharField(max_length=100)